footer {
  background: #223843;
  padding: 3em 0 0.5em;
  text-align: center;
  color: rgba(white, 0.9);
}

.social-icons {
  width: 90%;
  max-width: 15em;
  display: flex;
  justify-content: space-between;
  margin: 1em auto;
}

.social-icon {
  margin: 0 0.2em;
  width: 25%;
  height: 25%;
}

.social-icon img {
  filter: invert(30%);
}

.social-icon img:hover {
  filter: invert(0);
}

.copyright {
  color: #e8e9eb;
  font-size: 0.8em;
}

.copyright::before {
  content: "";
  display: block;
  height: 1px;
  background: rgba(232, 233, 235, 0.7);
  margin: 2em auto 1em;
  width: 15%;
}

@media (max-width: 50em) {
  footer {
    margin-bottom: 50px;
  }

  .copyright {
    margin-bottom: 2.5em;
  }
}
